.data-wrapper{
    display: flex;
    justify-content: space-around;
    margin-bottom: 50px;
}

.title{
    font-size: 50px;
    padding: 30px;
}

.posts, .blogs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.post, .blog{
    font-size: 20px;
}

.postBtn{
    margin-top: 20px;
}