<div class="data-wrapper">
    <div class="posts-warpper">
        <div class="title">Posts</div>

        <div class="posts">
            <div *ngFor="let post of getDataService.getPosts()" class="post">
                <div>
                    Label: {{post.label}}
                </div>

                <div>
                    Description: {{post.description}}
                </div>
            </div>
        </div>

        <button mat-raised-button color="accent" class="postBtn">Make new Post</button>
    </div>

    <div class="blog"></div>
</div>